.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  gap: 0.8rem;
}

.formContainer input {
  width: 50%;
  padding: 0.5rem;
  height: 2.4rem;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border-radius: 0.5rem;
  border: solid #999 1.5px;
  transition: all 0.5s;
}

.formContainer input:focus {
  padding: 1rem;
  outline: none;
  border-color: #fdedd5;
  box-shadow: 0 0 10px 5px rgb(254, 238, 212);
  background-color: rgba(255, 244, 228, 0.228);
}

.formContainer button {
  border: solid 2px #fef2e2;
  background-color: #fef2e2;
  font-family: inherit;
  font-weight: 600;
  font-size: larger;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.25rem;
  width: 20%;
  height: 2.2rem;
}

.formcontainer button:hover {
  box-shadow: 0 0 10px 5px rgb(255, 244, 228);
  transition: all 0.8s;
}
