@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600&display=swap");

body {
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* font-size: 10px; */
  /* Percentahe of usre's browser font-size setting: */
  /* font-size: 62.5%; */
  /* Why 62.5? ==> 10px / 16px = 0.625 = 62.5% */
  /* so  1rem is uqual to 10px in a responsive way to users font-size*/
  overflow-x: hidden;

  /* this will not work in safari and edge*/
  /* scroll-behavior: smooth; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
